@{
    ViewBag.Title = "Friends";
}

<div class="row" style="font-weight: bold; font-size: 150%;">
    @Html.ActionLink("James", "Friend", new { name="James" })
    <div class="col-md-12">Nathan</div>
    <div class="col-md-12">Emma</div>
    <div class="col-md-12">Simon</div>
</div>