@using Giftstarter.Domain
@{
    ViewBag.Title = "Friends";
}

@foreach (var user in State.Instance.Users.Where(x => !x.Name.Equals("James", StringComparison.OrdinalIgnoreCase)))
{

    <div style="width: 100px; display:inline-block;">
        <a href="@Url.Action("Pledge", new { name = user.Name })" class="thumbnail">
            <div style="font-weight: bold; text-align: center;">@user.Name</div>
            <img src="~/Images/Mugshots/@(user.Name.ToLowerInvariant()).png" />
        </a>
    </div>
}