@{
    ViewBag.Title = "Wish list";
}

<div class="row">
    <div class="col-xs-6 col-md-4">Gift name</div>
    <div class="col-xs-6 col-md-4">Link</div>
    <div class="col-xs-6 col-md-4">Price</div>
</div>

<div class="row">
    <div class="col-xs-6 col-md-4">asd asd</div>
    <div class="col-xs-6 col-md-4">http://asdasd</div>
    <div class="col-xs-6 col-md-4">£123123.123</div>
</div>
